In [2]:
import numpy as np
import pandas as pd

In [3]:
summary = [
    {"concentration": 0.0, "mean": 2434, "std": 285},
    {"concentration": 1.5, "mean": 2391, "std": 289},
    {"concentration": 2.0, "mean": 2303, "std": 258},
    {"concentration": 2.5, "mean": 2190, "std": 294},
]

In [4]:
def get_random_from_norm(mean, std):
    return np.random.normal(mean, std)

In [5]:
data = []

for s in summary:
    for i in range(1000):
        data.append({
            "concentration": s["concentration"],
            "length": get_random_from_norm(s["mean"], s["std"])
        })

In [7]:
data = pd.DataFrame(data)

In [8]:
# shuffle dataframe
data = data.sample(frac=1).reset_index(drop=True)

In [9]:
data.head()

   concentration       length
0            1.5  1974.165003
1            2.5  2216.145215
2            2.0  2565.893121
3            0.0  2222.637579
4            0.0  2745.859526

In [10]:
# format length to 1 decimal place
data["length"] = data["length"].apply(lambda x: round(x, 1))

In [11]:
data.head()

   concentration  length
0            1.5  1974.2
1            2.5  2216.1
2            2.0  2565.9
3            0.0  2222.6
4            0.0  2745.9

In [12]:
len(data)

4000

In [13]:
# update column labels
data.columns = ["conc_pc", "length_micron"]

In [14]:
data.head()

   conc_pc  length_micron
0      1.5         1974.2
1      2.5         2216.1
2      2.0         2565.9
3      0.0         2222.6
4      0.0         2745.9

In [18]:
# Label index with 'id'
data.index.name = "id"

# start index at 1
data.index = data.index + 1

In [19]:
data.to_csv("data.csv", index=True)