In [189]:
start_data = [
    {"ph": 5, "temperature": 20, "activity": 0.055},
    {"ph": 5, "temperature": 30, "activity": 0.037},
    {"ph": 5, "temperature": 40, "activity": 0.033},
    {"ph": 7, "temperature": 20, "activity": 0.045},
    {"ph": 7, "temperature": 30, "activity": 0.045},
    {"ph": 7, "temperature": 40, "activity": 0.045},
    {"ph": 9, "temperature": 20, "activity": 0.029},
    {"ph": 9, "temperature": 30, "activity": 0.043},
    {"ph": 9, "temperature": 40, "activity": 0.055},
]

In [190]:
import pandas as pd
import numpy as np
import random

In [191]:
groups = range(1, 11)

data = []

for group in groups:
    for item in start_data:
        for _ in range(5):

            new_item = {"group": group, "ph": item["ph"], "temperature": item["temperature"], "activity": 0}
            new_item["activity"] = round(np.random.normal(item["activity"], 0.1*item["activity"]), 4)
  

            data.append(new_item)

In [192]:
df = pd.DataFrame(data)
df = df.sample(frac=1, random_state=1).reset_index(drop=True)

In [193]:
df.loc[:20, 'activity'] = "ERROR"
df.loc[20:40, 'activity'] = -1
df.loc[40:60, 'activity'] = np.nan

C:\Users\treharne\AppData\Local\Temp\ipykernel_21532\3016548593.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'ERROR' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:20, 'activity'] = "ERROR"

In [194]:
df = df.sample(frac=1, random_state=1).reset_index(drop=True)
df.to_csv("activity.csv", index=False)

In [147]:
shuffled_df = df.sample(frac=1, random_state=1).reset_index(drop=True)

In [111]:
shuffled_df

     group  ph  temperature activity
0        7   7           20   0.0435
1        7   9           30   0.0469
2        5   7           30   0.0521
3        3   9           30   0.0395
4        1   5           30   0.0413
..     ...  ..          ...      ...
445      5   7           40   0.0476
446     10   9           30   0.0491
447      8   7           40   0.0489
448      8   5           30   0.0364
449      8   5           30   0.0283

[450 rows x 4 columns]

In [112]:
shuffled_df.to_csv("activity.csv", index=False)

In [227]:
df = pd.read_csv("activity_100.csv")

In [228]:
len(df)

300

In [229]:
activity_data['activity'] = pd.to_numeric(df['activity'], errors='coerce')

In [230]:
len(activity_data)

251

In [232]:
activity_data[activity_data["activity"] == -1]

Empty DataFrame
Columns: [group, ph, temperature, activity]
Index: []

In [237]:
import pandas as pd
import numpy as np
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm
from statsmodels.stats.multicomp import pairwise_tukeyhsd

# Load the CSV file
activity_data = pd.read_csv("activity_100.csv")

# Randomly sample 200 rows from the dataset
#activity_data = activity_data.sample(n=300, random_state=42)

# Convert 'activity' column to numeric
activity_data['activity'] = pd.to_numeric(activity_data['activity'], errors='coerce')

# Replace negative values in 'activity' with NaN
activity_data.loc[activity_data['activity'] < 0, 'activity'] = np.nan

# Remove na
#activity_data = activity_data.dropna()

# Convert 'ph' and 'temperature' columns to categorical (similar to factor in R)
activity_data['ph'] = activity_data['ph'].astype('category')
activity_data['temperature'] = activity_data['temperature'].astype('category')

# Remove rows with NaN values
activity_data.dropna(inplace=True)

# Perform two-way ANOVA
model = ols('activity ~ ph * temperature', data=activity_data).fit()
anova_result = anova_lm(model, typ=1)

print("Two-Way ANOVA Results:")
print(anova_result)

# # Tukey HSD post-hoc test for significant effects (interaction)
# tukey_result = pairwise_tukeyhsd(activity_data['activity'], activity_data['ph'].astype(str) + "_" + activity_data['temperature'].astype(str))

# print("\nTukey HSD Results:")
# #print(tukey_result)

# tukey_result = pairwise_tukeyhsd(endog=activity_data['activity'], groups=activity_data['ph'])

# print(tukey_result)

Two-Way ANOVA Results:
                   df    sum_sq   mean_sq           F        PR(>F)
ph                2.0  0.000788  0.000394   21.546592  5.947351e-09
temperature       2.0  0.000022  0.000011    0.609117  5.451702e-01
ph:temperature    4.0  0.008458  0.002114  115.560052  8.878010e-45
Residual        150.0  0.002745  0.000018         NaN           NaN

In [234]:
activity_data

     group ph temperature  activity
0        6  5          30    0.0333
1        9  5          30    0.0379
2        6  7          20    0.0433
4        2  9          30    0.0509
5        4  9          20    0.0261
..     ... ..         ...       ...
295      9  9          20    0.0254
296      1  5          20    0.0493
297      7  9          40    0.0504
298      3  9          20    0.0283
299      5  7          40    0.0504

[251 rows x 4 columns]

In [200]:
tukey_result.reject

array([False, False, False])

In [181]:
tukey_result = pairwise_tukeyhsd(activity_data['activity'], activity_data['ph'].astype(str))

In [185]:
print(tukey_result.pvalues)

[0.00431005 0.71754423 0.03995439]

In [186]:
print(tukey_result)

Multiple Comparison of Means - Tukey HSD, FWER=0.05
====================================================
group1 group2 meandiff p-adj   lower   upper  reject
----------------------------------------------------
     5      7   0.0039 0.0043   0.001  0.0068   True
     5      9   0.0009 0.7175 -0.0019  0.0037  False
     7      9   -0.003   0.04 -0.0059 -0.0001   True
----------------------------------------------------

In [161]:
len(activity_data)

389

In [236]:
activity_data = pd.read_csv("activity_100.csv")

# Convert 'activity' column to numeric
activity_data['activity'] = pd.to_numeric(activity_data['activity'], errors='coerce')

# Replace negative values in 'activity' with NaN
activity_data.loc[activity_data['activity'] < 0, 'activity'] = np.nan

# Remove rows with NaN values
activity_data.dropna(inplace=True)

# Convert 'ph' and 'temperature' columns to categorical (similar to factor in R)
activity_data['ph'] = activity_data['ph'].astype('category')
activity_data['temperature'] = activity_data['temperature'].astype('category')

print("Tukey Results:")


tukey_result = pairwise_tukeyhsd(endog=activity_data['activity'], groups=activity_data['ph'])

print(tukey_result)

Tukey Results:
Multiple Comparison of Means - Tukey HSD, FWER=0.05
====================================================
group1 group2 meandiff p-adj   lower   upper  reject
----------------------------------------------------
     5      7   0.0051 0.0066  0.0012   0.009   True
     5      9   0.0009  0.859  -0.003  0.0048  False
     7      9  -0.0042 0.0313 -0.0081 -0.0003   True
----------------------------------------------------