In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("activity_999.csv")

In [5]:
data.head()

   group  ph  temperature activity
0     10   7           20   0.0448
1      5   7           20   0.0425
2      9   9           40   0.0558
3      9   7           20    ERROR
4      4   9           20   0.0359

In [14]:
import pandas as pd
import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.stats.multicomp import pairwise_tukeyhsd

# Load data
activity_data = pd.read_csv("https://raw.githubusercontent.com/rtreharne/qs/main/data/08/activity_166.csv")

# Convert 'activity' column to numeric and remove rows with missing values
activity_data['activity'] = pd.to_numeric(activity_data['activity'], errors='coerce')
activity_data = activity_data.dropna()

# Filter rows where 'activity' is non-negative
activity_data = activity_data[activity_data['activity'] >= 0]

# Convert 'ph' and 'temperature' to categorical
activity_data['ph'] = activity_data['ph'].astype('category')
activity_data['temperature'] = activity_data['temperature'].astype('category')

# Perform ANOVA
model = ols('activity ~ ph * temperature', data=activity_data).fit()
anova_result = sm.stats.anova_lm(model, typ=2)

# Perform Tukey's HSD test
tukey_result = pairwise_tukeyhsd(activity_data['activity'], activity_data['ph'].astype(str) + ":" + activity_data['temperature'].astype(str))

tukey_df = pd.DataFrame(data=tukey_result.summary().data[1:], columns=tukey_result.summary().data[0])

# Count rows where "reject" is True
count_reject_true = tukey_df[tukey_df["reject"] == True]

# Display the count
# print(
#     round(count_reject_true*100/tukey_df.shape[0],1)
# )

count_reject_true['meandiff'] = count_reject_true['meandiff'].abs()

count_reject_true['meandiff'].max()

C:\Users\treharne\AppData\Local\Temp\ipykernel_25860\727860568.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  count_reject_true['meandiff'] = count_reject_true['meandiff'].abs()

0.0265

In [9]:
print(tukey_result)# Convert Tukey's HSD result to a DataFrame
tukey_df = pd.DataFrame(data=tukey_result.summary().data[1:], columns=tukey_result.summary().data[0])

# Sort by "p-adj" column in descending order
tukey_df = tukey_df.sort_values(by="p-adj", ascending=False)

# View the sorted DataFrame
print(tukey_df)

Multiple Comparison of Means - Tukey HSD, FWER=0.05
====================================================
group1 group2 meandiff p-adj   lower   upper  reject
----------------------------------------------------
  5:20   5:30   -0.017    0.0 -0.0207 -0.0133   True
  5:20   5:40  -0.0219    0.0 -0.0257 -0.0181   True
  5:20   7:20  -0.0105    0.0 -0.0142 -0.0067   True
  5:20   7:30  -0.0092    0.0 -0.0131 -0.0052   True
  5:20   7:40  -0.0094    0.0 -0.0133 -0.0054   True
  5:20   9:20   -0.025    0.0 -0.0289 -0.0211   True
  5:20   9:30   -0.011    0.0 -0.0148 -0.0073   True
  5:20   9:40   0.0012 0.9878 -0.0025  0.0048  False
  5:30   5:40  -0.0049 0.0005 -0.0084 -0.0014   True
  5:30   7:20   0.0065    0.0  0.0031  0.0099   True
  5:30   7:30   0.0078    0.0  0.0042  0.0115   True
  5:30   7:40   0.0076    0.0   0.004  0.0113   True
  5:30   9:20   -0.008    0.0 -0.0116 -0.0044   True
  5:30   9:30   0.0059    0.0  0.0026  0.0093   True
  5:30   9:40   0.0181    0.0  0.0148  0.0215   True
  5:40   7:20   0.0114    0.0  0.0079  0.0149   True
  5:40   7:30   0.0127    0.0   0.009  0.0164   True
  5:40   7:40   0.0125    0.0  0.0089  0.0162   True
  5:40   9:20  -0.0031 0.1619 -0.0068  0.0005  False
  5:40   9:30   0.0108    0.0  0.0074  0.0143   True
  5:40   9:40    0.023    0.0  0.0196  0.0265   True
  7:20   7:30   0.0013  0.969 -0.0023   0.005  False
  7:20   7:40   0.0011 0.9874 -0.0025  0.0047  False
  7:20   9:20  -0.0145    0.0 -0.0182 -0.0109   True
  7:20   9:30  -0.0006 0.9999  -0.004  0.0028  False
  7:20   9:40   0.0116    0.0  0.0083   0.015   True
  7:30   7:40  -0.0002    1.0  -0.004  0.0036  False
  7:30   9:20  -0.0159    0.0 -0.0197  -0.012   True
  7:30   9:30  -0.0019 0.7924 -0.0055  0.0017  False
  7:30   9:40   0.0103    0.0  0.0067  0.0139   True
  7:40   9:20  -0.0157    0.0 -0.0195 -0.0119   True
  7:40   9:30  -0.0017 0.8661 -0.0053  0.0019  False
  7:40   9:40   0.0105    0.0  0.0069  0.0141   True
  9:20   9:30    0.014    0.0  0.0104  0.0176   True
  9:20   9:40   0.0262    0.0  0.0226  0.0297   True
  9:30   9:40   0.0122    0.0  0.0089  0.0155   True
----------------------------------------------------
   group1 group2  meandiff   p-adj   lower   upper  reject
26   7:30   7:40   -0.0002  1.0000 -0.0040  0.0036   False
24   7:20   9:30   -0.0006  0.9999 -0.0040  0.0028   False
7    5:20   9:40    0.0012  0.9878 -0.0025  0.0048   False
22   7:20   7:40    0.0011  0.9874 -0.0025  0.0047   False
21   7:20   7:30    0.0013  0.9690 -0.0023  0.0050   False
31   7:40   9:30   -0.0017  0.8661 -0.0053  0.0019   False
28   7:30   9:30   -0.0019  0.7924 -0.0055  0.0017   False
18   5:40   9:20   -0.0031  0.1619 -0.0068  0.0005   False
8    5:30   5:40   -0.0049  0.0005 -0.0084 -0.0014    True
23   7:20   9:20   -0.0145  0.0000 -0.0182 -0.0109    True
25   7:20   9:40    0.0116  0.0000  0.0083  0.0150    True
29   7:30   9:40    0.0103  0.0000  0.0067  0.0139    True
27   7:30   9:20   -0.0159  0.0000 -0.0197 -0.0120    True
19   5:40   9:30    0.0108  0.0000  0.0074  0.0143    True
30   7:40   9:20   -0.0157  0.0000 -0.0195 -0.0119    True
32   7:40   9:40    0.0105  0.0000  0.0069  0.0141    True
33   9:20   9:30    0.0140  0.0000  0.0104  0.0176    True
34   9:20   9:40    0.0262  0.0000  0.0226  0.0297    True
20   5:40   9:40    0.0230  0.0000  0.0196  0.0265    True
0    5:20   5:30   -0.0170  0.0000 -0.0207 -0.0133    True
1    5:20   5:40   -0.0219  0.0000 -0.0257 -0.0181    True
17   5:40   7:40    0.0125  0.0000  0.0089  0.0162    True
16   5:40   7:30    0.0127  0.0000  0.0090  0.0164    True
15   5:40   7:20    0.0114  0.0000  0.0079  0.0149    True
14   5:30   9:40    0.0181  0.0000  0.0148  0.0215    True
13   5:30   9:30    0.0059  0.0000  0.0026  0.0093    True
12   5:30   9:20   -0.0080  0.0000 -0.0116 -0.0044    True
11   5:30   7:40    0.0076  0.0000  0.0040  0.0113    True
10   5:30   7:30    0.0078  0.0000  0.0042  0.0115    True
9    5:30   7:20    0.0065  0.0000  0.0031  0.0099    True
6    5:20   9:30   -0.0110  0.0000 -0.0148 -0.0073    True
5    5:20   9:20   -0.0250  0.0000 -0.0289 -0.0211    True
4    5:20   7:40   -0.0094  0.0000 -0.0133 -0.0054    True
3    5:20   7:30   -0.0092  0.0000 -0.0131 -0.0052    True
2    5:20   7:20   -0.0105  0.0000 -0.0142 -0.0067    True
35   9:30   9:40    0.0122  0.0000  0.0089  0.0155    True

In [10]:
tukey_df

   group1 group2  meandiff   p-adj   lower   upper  reject
26   7:30   7:40   -0.0002  1.0000 -0.0040  0.0036   False
24   7:20   9:30   -0.0006  0.9999 -0.0040  0.0028   False
7    5:20   9:40    0.0012  0.9878 -0.0025  0.0048   False
22   7:20   7:40    0.0011  0.9874 -0.0025  0.0047   False
21   7:20   7:30    0.0013  0.9690 -0.0023  0.0050   False
31   7:40   9:30   -0.0017  0.8661 -0.0053  0.0019   False
28   7:30   9:30   -0.0019  0.7924 -0.0055  0.0017   False
18   5:40   9:20   -0.0031  0.1619 -0.0068  0.0005   False
8    5:30   5:40   -0.0049  0.0005 -0.0084 -0.0014    True
23   7:20   9:20   -0.0145  0.0000 -0.0182 -0.0109    True
25   7:20   9:40    0.0116  0.0000  0.0083  0.0150    True
29   7:30   9:40    0.0103  0.0000  0.0067  0.0139    True
27   7:30   9:20   -0.0159  0.0000 -0.0197 -0.0120    True
19   5:40   9:30    0.0108  0.0000  0.0074  0.0143    True
30   7:40   9:20   -0.0157  0.0000 -0.0195 -0.0119    True
32   7:40   9:40    0.0105  0.0000  0.0069  0.0141    True
33   9:20   9:30    0.0140  0.0000  0.0104  0.0176    True
34   9:20   9:40    0.0262  0.0000  0.0226  0.0297    True
20   5:40   9:40    0.0230  0.0000  0.0196  0.0265    True
0    5:20   5:30   -0.0170  0.0000 -0.0207 -0.0133    True
1    5:20   5:40   -0.0219  0.0000 -0.0257 -0.0181    True
17   5:40   7:40    0.0125  0.0000  0.0089  0.0162    True
16   5:40   7:30    0.0127  0.0000  0.0090  0.0164    True
15   5:40   7:20    0.0114  0.0000  0.0079  0.0149    True
14   5:30   9:40    0.0181  0.0000  0.0148  0.0215    True
13   5:30   9:30    0.0059  0.0000  0.0026  0.0093    True
12   5:30   9:20   -0.0080  0.0000 -0.0116 -0.0044    True
11   5:30   7:40    0.0076  0.0000  0.0040  0.0113    True
10   5:30   7:30    0.0078  0.0000  0.0042  0.0115    True
9    5:30   7:20    0.0065  0.0000  0.0031  0.0099    True
6    5:20   9:30   -0.0110  0.0000 -0.0148 -0.0073    True
5    5:20   9:20   -0.0250  0.0000 -0.0289 -0.0211    True
4    5:20   7:40   -0.0094  0.0000 -0.0133 -0.0054    True
3    5:20   7:30   -0.0092  0.0000 -0.0131 -0.0052    True
2    5:20   7:20   -0.0105  0.0000 -0.0142 -0.0067    True
35   9:30   9:40    0.0122  0.0000  0.0089  0.0155    True

In [11]:
# Count rows where "reject" is True
count_reject_true = tukey_df[tukey_df["reject"] == True].shape[0]

# Display the count
print(count_reject_true)

28

In [12]:
tukey_df.shape[0]

36

In [13]:
28/36

0.7777777777777778