In [1]:
from canvasapi import Canvas

In [2]:
CANVAS_URL = "https://canvas.liverpool.ac.uk"
CANVAS_TOKEN = "15502~xHYDWhcEk3kN4AC8KzUtLLVHHYG9em7xyECDYXLJktxnHUNKxexTW483LvDReEP2"

In [3]:
canvas = Canvas(CANVAS_URL, CANVAS_TOKEN)

In [4]:
course = canvas.get_course(76918)

In [5]:
quizzes = [x for x in course.get_quizzes()]

In [7]:
quiz = quizzes[0]

In [91]:
quiz_group = quiz.create_question_group(quiz_groups=[{'name': 'Test Question Group', 'pick_count': 1, 'question_points': 1}])

In [92]:
quiz_group.__dict__

{'_requester': <canvasapi.requester.Requester at 0x20b7b563260>,
 'id': 43305,
 'quiz_id': 159145,
 'name': 'Test Question Group',
 'pick_count': 1,
 'question_points': 1.0,
 'position': 1,
 'assessment_question_bank_id': None,
 'course_id': 159145}

In [93]:
for _ in range(2):
    question = quiz.create_question(question=
        {
            'question_name': 'Test Question', 
            'question_text': 'What is the answer?', 
            'points_possible': 1, 
            'question_type': 'numerical_question',
            'quiz_group_id': quiz_group.id,
            'correct_comments': 'Correct, well done!',
            'incorrect_comments': 'Incorrect, try again!',
            'answers': [
                {
                    'text': 'Answer 1', 
                    'weight': 100, 
                    'numerical_answer_type': 'exact_answer',
                    'answer_exact': 42,
                    'answer_error_margin': 1
                }, 
                ]
            }
        )

In [87]:
question_data = {
    'question': {
        'question_name': 'Test Question',
        'question_text': 'What is the answer?',
        'points_possible': 1,
        'question_type': 'numerical_question',
        #'quiz_group_id': quiz_group.id,
        'correct_comments': 'Correct, well done!',
        'incorrect_comments': 'Incorrect, try again!',
        'answers': [
            {
                'text': '',
                'comments': '',
                'comments_html': '',
                'weight': 100,
                'numerical_answer_type': 'exact_answer',
                'answer_exact': 3.14,
                'answer_error_margin': 0.01,    
            },
        ]
    }
}

In [95]:
import pandas as df
import numpy as np

In [97]:
df = df.read_csv('week_1_snail_data.csv')

In [106]:
def snail_answer(df, unique_id):

    np.random.seed(unique_id)

    sample = df.sample(n=160)

    return sample

In [109]:
out = snail_answer(df, 1234)

In [111]:
# calculate a third column which is Height cubed
out['Height cubed'] = out['Height L (mm)'] ** 3

In [112]:
out.head()

      Snail mass M (g)  Height L (mm)  Height cubed
2303          6.803337      29.007018  24406.710725
1750          7.118727      26.456410  18517.943393
2515          4.451655      24.319373  14383.252808
402           9.165967      28.305372  22678.097651
2372          9.419564      26.623457  18870.931222

In [143]:
# create a linear model for Height cubed vs snail mass and return slope, intercept

from sklearn.linear_model import LinearRegression

def linear_model(df):
    X = df[['Height cubed']]
    y = df[['Snail mass M (g)']]

    model = LinearRegression().fit(y, X)

    return model.coef_[0][0], model.intercept_[0]

In [145]:
m, c = linear_model(out)

In [147]:
y = 30000

x = (y - c) / m

In [148]:
x

10.096894904934056