In [2]:
import scipy.stats as stats
import random
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('data.csv')

In [28]:
np.random.seed(200)

In [29]:
sample = df.sample(n=160)

In [30]:
sample.head()

        id  conc_pc  length_micron
501    502      2.5         2532.6
3118  3119      1.5         2225.0
228    229      2.5         2388.6
2879  2880      2.5         2165.3
1220  1221      0.0         2642.9

In [31]:
import pandas as pd
import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm

# Assuming `df` is your DataFrame and it's already loaded
# df = pd.read_csv('your_data.csv')  # Example of loading data

# Perform one-way ANOVA
model = ols('length_micron ~ C(conc_pc)', data=sample).fit()
anova_results = anova_lm(model)

print(anova_results)

               df        sum_sq        mean_sq         F    PR(>F)
C(conc_pc)    3.0  9.157007e+05  305233.561821  3.049985  0.030374
Residual    156.0  1.561202e+07  100077.074035       NaN       NaN

In [32]:
# get p value
p_value = anova_results['F'][0]

C:\Users\treharne\AppData\Local\Temp\ipykernel_18836\3168797405.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  p_value = anova_results['F'][0]

In [33]:
p_value

3.0499848717876987

In [9]:
# format p-value using scientific notation to 1 d.p
p_value = "{:.1e}".format(p_value)

In [10]:
p_value

'8.2e+00'