In [7]:
import pandas as pd
import numpy as np
import random

In [12]:
cherry_tomato_varieties = [
    "Sweet 100", "Sweet Million", "Sungold", "Sun Sugar", "Juliet", "Black Cherry", "Chocolate Cherry",
    "Yellow Pear", "Red Pear", "Tiny Tim", "Gardener's Delight", "Sweet Chelsea", "Honeybunch", "Napa Grape",
    "Isis Candy", "Tommy Toe", "Sakura", "Black Pearl", "Snow White", "Super Sweet 100", "Sugary", "Sprite",
    "Sunpeach", "Cherry Falls", "Tumbling Tom Red", "Tumbling Tom Yellow", "Lollipop", "Golden Nugget",
    "Maglia Rosa", "Cherry Bomb", "Rapunzel", "Red Currant", "Yellow Currant", "Indigo Cherry Drops",
    "Cherry Cascade", "Terenzo", "Summer Sun", "Golden Sweet", "Cherry Buzz", "Bings", "Large Red Cherry",
    "Reisentraube", "Rosalita", "Tess's Land Race", "Jasper", "Chadwick Cherry", "Matt's Wild Cherry",
    "Green Grape", "Sun Chocola", "Red Profusion", "Yellow Profusion", "Golden Honey Bunch", "Chocolate Sprinkles",
    "Micro Tom", "Pink Bumble Bee", "Sunrise Bumble Bee", "Purple Bumble Bee", "White Cherry", "Sweet Zen",
    "Camp Joy", "Gardeners Delight", "F1 Sweet Aperitif", "Blush", "Berry Basket", "Candyland Red", "Mexico Midget",
    "Lucky Tiger", "Sweethearts", "Favorita", "Tiny Totem", "Gold Nugget", "Coyote", "Rosalina", "White Currant",
    "Orange Paruche", "Baby Boomer", "Red Robin", "Amy's Sugar Gem", "Mirabelle Blanche", "Sprite Grape",
    "Pink Champagne", "Fireworks", "Peacevine Cherry", "Black Vernissage", "Orange Zinger", "Lucid Gem",
    "Lemon Drop", "Red Zebra", "Blueberry Cherry", "Champagne Cherry", "Galina", "Ildi", "Cerise Orange",
    "Clackamas Blueberry", "Midnight Snack", "Hssiao His Hung Shih", "Brandywine Cherry", "Suncherry Extra Sweet",
    "Sprite Mini", "Bush Early Girl Cherry"
]

light_intensity = [100, 125, 150, 175, 200, 225, 250, 275, 300, 325, 350]

In [39]:
def generate_rows(variety, light_intensity, m=2.67, c=400):
    rows = []
    m = random.uniform(m-0.1*m, m+0.1*m)
    c = random.uniform(c-0.1*c, c+0.1*c)
    for intensity in light_intensity:

        if random.random() < 0.2:
            yield_value = -999
        else:
            yield_value = round(m*(1+random.uniform(-0.05, 0.05))*intensity + c*(1+random.uniform(-0.05, 0.05)), 2)
        rows.append(
            {
                "variety": variety,
                "light_intensity": intensity,
                "yield": yield_value
             }
        )
    return rows

In [40]:
rows = []

for variety in cherry_tomato_varieties:
    rows.extend(generate_rows(variety, light_intensity))

In [41]:
data = pd.DataFrame(rows)

In [42]:
data.head()

     variety  light_intensity   yield
0  Sweet 100              100  677.10
1  Sweet 100              125  743.71
2  Sweet 100              150  802.94
3  Sweet 100              175  853.23
4  Sweet 100              200  937.42

In [43]:
data.to_csv("tomatoes.csv", index=False)